params {
    sra_id = ''
    input_reads_folder = ''
    reference = ''
    assembly = false
    outdir = './results'
    threads = 2
}

profiles {

    local {
        process {
            executor = 'local'
            cpus = 2
            memory = '4 GB'
            conda = "$HOME/miniconda3/envs/bioinfo"
        }
    }

    cluster {
        process {
            executor = 'slurm'
            cpus = 4
            memory = '8 GB'
            queue = 'normal'
            time = '24h'
            conda = "./envs/bioinfo.yml"
        }
        singularity {
            enabled = true
        }
    }

    container {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        process {
            executor = 'local'
            cpus = 4
            memory = '8 GB'
            container = 'anisssum/bioinfo:latest'
        }
    }
}

manifest {
    name = 'nf-core/my-pipeline'
    description = 'HW3'
    version = '1.0.0'
}
