profiles {

    local {

        conda.enabled = true

        process.conda = "./envs/bioinfo.yml"

        process.executor = 'local'

        process {
            cpus = 2
            memory = '4 GB'
        }
    }

    cluster {

        conda.enabled = true

        process.conda = "./envs/bioinfo.yml"

        process.executor = 'slurm'

        process {
            cpus = 4
            memory = '8 GB'
        }
    }

    container {

        docker.enabled = true

        process.container = 'yourdockerhubusername/bioinfo:latest'

        process.executor = 'local'

        process {
            cpus = 4
            memory = '8 GB'
        }
    }
}